.goal

    &__title
        text-align: center

    &__subtitle
        font-size: 1rem
        text-align: center

    &__register
        cursor: pointer
        color: #4f5155
        text-decoration: underline

    &__plans
        cursor: pointer
        color: #4f5155
        text-decoration: underline

    &__p
        width: 90%
        margin: 1.5rem auto
        font-size: .9rem

    &__macros
        width: 50%
        margin: 2rem auto


    