.home
    &__title
        position: absolute
        top: .5rem
        left: 8rem

    &__logo
        margin: .6rem
    
    &__user
        position: absolute
        top: 4.5rem
        left: 8rem
        font-size: .8rem

        &--name
            font-weight: bold