.landing 
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh

    &__title
        font-size: 3rem

    &__p
        font-size: .8rem   

    &__buttons
        margin: auto
        display: flex
        flex-direction: column
        text-align: center

.btn
    background-color: #b1ebee
    padding: .5rem
    border-radius: 1rem 
    text-decoration: none
    cursor: pointer