.user-info

    &__title
        text-align: center

    &__gender
        width: 60%
        margin: auto

    &__goal
        width: 45%
        margin: auto

    &__numbers
        width: 50%
        margin: 1.5rem auto
        display: grid
        grid-template-columns: .5fr .5fr
        grid-row-gap: 1rem

    &__activity
        width: 80%
        display: flex
        margin: 2rem auto
        justify-content: space-between

    &__p
        width: 90%
        margin: 4.5rem auto
        font-size: .8rem

    &__next
        position: absolute
        left: 140px
        bottom: 45px
        border: none
        background-color: #b1ebee
        padding: .5rem
        border-radius: 1rem
        cursor: pointer

    
    &__back
        margin: .4rem
        border: none
        background-color: transparent

    
        