footer {
  flex: none;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  margin-top: 50px;
  background: #000;
  text-align: center;
  display: block;
  line-height: 30px;
  color: #5c8baf;
}
