header{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}

@media (min-width:600px){
    header{
        max-width: 1200px;
        margin: 0 auto;
    }
}