.search {
  width: 100%;
  margin: 0 0 30px 0px;
  padding: 20px;
  border-bottom: 4px solid #dadada;
  position: relative;

  &:before {
    position: absolute;
    content: url(/images/arrow.png);
    background-image: url(../images/bg-popcorn.png);
    opacity: 0.2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &-content {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }
  &-content__input {
    width: 100%;
    border: 3px solid #00b4cc;
    border-right: none;
    padding: 5px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #5b5b5b;
    box-shadow: 4px 4px 5px 0px #cacaca75;
    border: 2px solid #d8d8d8;
    border-right: 0;
    font-size: 2rem;
    font-family: $text_font;
  }
  &-content__submit {
    width: 83px;
    height: 50px;
    border: 1px solid #00b4cc;
    background: #378fba;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    &:focus {
      outline: none;
    }
    &:hover {
      background: #4c5b68;
    }
  }
}
