.access
    border: 5px solid 
    padding: 2rem
    border-radius: 1rem
    text-align: center
    color: #E59EF3 

    &__register
        background-color: #4e9cb6
        color: white
        border-radius: 5px
        padding: .4rem
        font-size: 25px

        &:hover
            background-color:#F0A8DD

    &__login
        border-style: solid
        border-color: #FFB6C1
        background-color:#F48DD8
        border-radius: 5px
        padding: .4rem
        font-size: 25px

        &:hover
            background-color: #E9F6FD