<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="./utils/array-pollyfils.js"></script>
    
    <script src="./utils/call.js"></script>

    <script src="./logic/register-user.js"></script>
    <script src="./logic/register-user.test.js"></script>

    <script src="./logic/authenticate-user.js"></script>
    <script src="./logic/authenticate-user.test.js"></script>

    <script src="./logic/retrieve-user.js"></script>
    <script src="./logic/register-user.test.js"></script>
</body>
</html>