@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap')

$fontmain: Nerko One, cursive

#feedback
    margin: 0px
    padding: 0px
    color: white
    background-color: purple
    width: auto
    height: auto
    border: 1px solid white
    box-shadow: 0px 1px 30px 0px purple
    border-radius: 20px
    display: flex
    text-align: center
    justify-content: center
    font-family: $fontmain
