@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap')

$fontmain: Nerko One, cursive
    
.results
    &__ul
        padding: 2px
        

    &__li
        border: 2px solid purple
        list-style: none
        margin: 3vw 3vw 3vw 3vw
        display: block
        padding: 1vw 1vw 1vw 1vw
        font-size: 1.5rem
        border-radius: 25px
        display: flex
        align-items: center
        text-align: center
        
    &__img
        width: 40vw
        height: 25vh
        margin-left: 1vw   
    &__p
        margin-left: 4vw
        font-family: $fontmain
        color: purple

@media (min-width: 1000px)
    .results
        margin-left: 15vw

        &__li
            width: 50vw
        &__img
            width: 25vw
            height: 25vh
    
   
        

 

       
        