
.sign-up
    background-image: url("https://i.pinimg.com/originals/d1/af/8b/d1af8b50b2d19f24ec34a055048e25ff.jpg")
    background-size: cover
    background-repeat: no-repeat
    margin-top: -538px
    border-radius: 20px
    .input
        border-radius: 20px
    .button
            border-radius: 20px