.results

    &__li
        background-color: rgb(255,255,255,.9)
        display: flex
        flex-direction: row
        // flex-direction: column
        padding: 30px
        border-radius: 30px
        gap: 30px
        text-align: left
        margin-top: 40px
        margin-bottom: 40px
        margin-left: 5vw
        margin-right: 5vw

    &__h2
        margin-top: 0px
        padding-top: 0px

    &__image
        float: left
        width: 350px
        // width: 250px
        border-radius: 30px 3px 3px 3px
    &__p
        text-align: start
        margin-left: 10px

.negrita
    font-weight: 600
