@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap')

$base-color: linear-gradient(to right, rgba(255,0,0,0), #d9f573)
$font-color: #bdb9b9
$font-main: 'Roboto', sans-serif

@media only screen and (max-width: 600px)
    
*
    box-sizing: border-box
    margin: 0
    padding: 0

body, html
    color: $font-color
    font-family: $font-main
    height: 100%

#root
    background-image: url('./back-b&w.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    background-attachment: fixed
    height: 100%


.title
    padding: 1rem
    display: flex
    flex-flow: column
    text-align: center
    padding: .5rem
    cursor: pointer
    margin: auto
    border-radius: 1rem
    font-family: $font-main
    color: $font-color
    width: 85%
    font-size: 2.2rem


    &__small
        font-size: .8rem
        margin-top: .5rem

    &__app
        color: #489899


.access
    display: flex
    justify-content: center
    align-items: center
    width: 75%
    margin: 5rem auto
    flex-wrap: wrap

    
    &__login
        margin-left: .1rem

    &__register
        margin-right: .1rem

.register
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    width: 75%
    margin: auto
    padding: 2rem 0

    &__subtitle
        padding: 1rem
        font-size: .8rem
        color: $font-color

    &__form
        width: 75%
        margin: auto
        padding: 1rem
        overflow: auto
        border-radius: 1rem
        display: flex
        flex-direction: column

        > input
            margin: .2rem
            
    &__btn
        margin: auto

.register-confirm
    display: flex
    justify-content: center
    flex-wrap: wrap
    align-items: center
    width: 85%
    margin: 2rem auto
    color: $font-color

    &__thk
        font-size: .8rem
        padding: 1.5rem 0

.btn
    margin: .5rem
    text-decoration: none
    border-style: none
    padding: .5rem
    color: $font-color
    cursor: pointer
    background-color: transparent
    font-size: 1.1rem

.btn:hover
    color: #489899

.login
    display: flex
    flex-flow: column wrap
    align-items: center
    justify-content: center
    width: 60%
    margin: 2rem auto
    padding: 1rem

    &__title
        padding: 1rem

    &__form
        display: flex
        flex-direction: column

        > input
            margin: .2rem

.home
    width: 90%
    margin: auto

.welcome
    &__title
        text-align: center

    &__name
        color: #489899


.carousel
    width: 90%
    overflow: auto
    white-space: nowrap
    margin: .5rem auto

    &__title
        padding: .3rem

    &__movie
        display: inline-block
        margin: 0 .2rem
        cursor: pointer

    &__movie > img
        height: 155px
        width: 115px

.genres
    margin: .8rem

.search
    max-width: 50%
    margin: auto
    display: flex
    flex-wrap: wrap

    &__label
        font-size: .8rem
        margin-bottom: .2rem
        text-transform: uppercase
    
    &__title
        font-size: .8rem
        padding: .5rem
        line-height: .5rem
        border-radius: 2rem
        border: 1px solid #ddd
        margin-bottom: 1rem

    &__btn
        background-color: rgba(0,0,0,0.75)
        color: $font-color
        padding: .5rem .8rem
        border: 1px solid rgba(0,0,0,0.75)
        border-radius: 2rem
        font-size: 1rem
        cursor: pointer
        transition: background-color 250ms

    &__btn:hover
        background-color: rgba(0,0,0,0.85)

.logout
    display: flex
    justify-content: flex-end

    &__btn
        position: absolute
        font-size: .8rem
        top: 2rem
        right: 1rem

.detail
    box-shadow: 0 4px 8px 0 #000000b7
    transition: 0.3s
    width: 60%
    margin: .3rem auto
    border-radius: .5rem
    z-index: 100
    background-color: #000000b7

    &__title
        color: $font-color
        text-align: center

    &__img
        width: 100%

    &__btn
        text-decoration: none
        border: none
        padding: .3rem
        background: none
        cursor: pointer
        transition-duration: 0.4s
        overflow: hidden
        color: white
        
    &__preoverview
        display: flex
        justify-content: space-around
        padding: .3rem

    &__overview
        padding: .3rem

.profile
    background-color: #000000b7
    border-radius: 1rem
    width: 60%
    margin: .3rem auto

    &__title
        margin: .5rem

    &__fullname
        padding: .3rem
        margin-left: 1rem

    &__avatar
        width: 100%
        height: auto
        padding: 0 .1rem

    &__bottom
        width: 90%
        margin: auto
    


    
@media only screen and (min-width: 600px)

*
    box-sizing: border-box
    margin: 0
    padding: 0

    
.search
    display: grid
    grid-template-columns: auto 1fr auto
    grid-gap: 1rem
    align-items: center

    &__title
        margin-bottom: 0






