@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #bdb9b9;
  font-family: "Roboto", sans-serif;
}

#root {
  background-image: url("./back-b&w.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  min-height: 100vh;
}

.title {
  padding: 0.5rem;
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  margin: auto;
  border-radius: 1rem;
  font-family: "Roboto", sans-serif;
  color: #bdb9b9;
  width: 65%;
  font-size: 2.2rem;
}
.title__small {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.title__app {
  color: #489899;
}

.access {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 5rem auto;
  flex-wrap: wrap;
}
.access__login {
  margin-left: 0.1rem;
}
.access__register {
  margin-right: 0.1rem;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  margin: auto;
  padding: 2rem 0;
}
.register__subtitle {
  padding: 1rem;
  font-size: 0.8rem;
  color: #bdb9b9;
}
.register__form {
  width: 75%;
  margin: auto;
  padding: 1rem;
  overflow: auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.register__form > input {
  margin: 0.2rem;
}
.register__btn {
  margin: auto;
}

.register-confirm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 85%;
  margin: 2rem auto;
  color: #bdb9b9;
}
.register-confirm__thk {
  font-size: 0.8rem;
  padding: 1.5rem 0;
}

.btn {
  margin: 0.5rem;
  text-decoration: none;
  border-style: none;
  padding: 0.5rem;
  color: #bdb9b9;
  cursor: pointer;
  background-color: #00000080;
  border-radius: 5rem;
  font-size: 0.8rem;
}

.btn:hover {
  color: #489899;
}

.login {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 2rem auto;
  padding: 1rem;
}
.login__title {
  padding: 1rem;
}
.login__form {
  display: flex;
  flex-direction: column;
}
.login__form > input {
  margin: 0.2rem;
}

.home {
  width: 90%;
  margin: auto;
}

.welcome__title {
  text-align: center;
  background-color: #0000003d;
  max-width: 60%;
  margin: 0.5rem auto;
  border-radius: 1rem;
  font-size: 1.1rem;
}
.welcome__name {
  color: #489899;
}

.carousel {
  width: 90%;
  overflow: auto;
  white-space: nowrap;
  margin: 0.5rem auto;
}
.carousel__title {
  padding: 0.3rem;
  font-size: 1rem;
}
.carousel__movie {
  display: inline-block;
  margin: 0 0.2rem;
  cursor: pointer;
}
.carousel__movie > img {
  height: 150px;
  width: 115px;
}

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #489899;
  border-radius: 10px;
}

.genres {
  margin: 0.8rem;
}

.search {
  max-width: 30%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.search__title {
  font-size: 0.8rem;
  padding: 0.2rem;
  line-height: 0.2rem;
  border-radius: 2rem;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}
.search__btn:hover {
  background-color: #000000;
}

.logout {
  display: flex;
  justify-content: flex-end;
}
.logout__btn {
  position: absolute;
  font-size: 0.8rem;
  top: 2rem;
  right: 1rem;
}

.detail {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 #000000b7;
  transition: 0.3s;
  height: 100%;
  width: 95%;
  margin: 0.3rem auto;
  border-radius: 0.5rem;
  background-color: #000000b7;
  color: #000000;
}
.detail__title {
  color: #bdb9b9;
  text-align: center;
}
.detail__img {
  width: 80%;
  margin: auto;
  height: 80%;
}
.detail__btn {
  text-decoration: none;
  border: none;
  padding: 0.3rem;
  background: none;
  cursor: pointer;
  transition-duration: 0.4s;
  overflow: hidden;
  color: white;
}
.detail__preoverview {
  display: flex;
  justify-content: space-around;
  padding: 0.3rem;
  color: white;
}
.detail__homepage {
  color: white;
  text-align: center;
  margin-bottom: 0.3rem;
}
.detail__overview {
  padding: 0 0.5rem;
  margin: 0.5rem;
  color: white;
}

.profile {
  background-color: #000000b7;
  border-radius: 1rem;
  width: 75%;
  margin: auto;
}
.profile__title {
  margin: 0.5rem;
  padding: 0.2rem;
}
.profile__fullname {
  padding: 0.3rem;
  margin-left: 0.5rem;
}
.profile__avatar {
  width: 100%;
  padding: 0 0.1rem;
}
.profile__bottom {
  width: 90%;
  margin: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1rem;
  align-items: center;
}
.search__title {
  margin-bottom: 0;
}

/*# sourceMappingURL=index.css.map */
