@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap')

$base-color: linear-gradient(to right, rgba(255,0,0,0), #d9f573)
$font-color: #202120
$font-main: 'Nunito Sans', sans-serif
$font-title: 'Anton', sans-serif

@media only screen and (max-width: 600px)
    
*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    background: $base-color
    color: $font-color
    font-family: $font-main

.title
    text-align: center
    padding: .5rem
    cursor: pointer
    margin: .5rem auto
    width: 95%
    background-color: #d7f7d3
    border-radius: 1rem
    font-family: $font-title

    &__small
        font-size: 1.1rem
        margin-left: .5rem

    &__app
        color: #165253
        text-shadow: 2px 2px #929d9e


.access
    display: flex
    justify-content: center
    align-items: center
    width: 75%
    margin: auto
    flex-wrap: wrap

    
    &__login
        margin-left: .1rem

    &__register
        margin-right: .1rem

.register
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    width: 75%
    margin: auto
    padding: 2rem 0

    &__subtitle
        padding: .5rem
        font-size: .8rem

    &__form
        width: 75%
        margin: auto
        background-color: #f6faf8 
        padding: 1rem
        overflow: auto
        border-radius: 1rem
        display: flex
        flex-direction: column

        > input
            margin: .2rem
            
    &__btn
        margin: auto

.btn
    margin: .5rem
    text-decoration: none
    border-style: none
    padding: .3rem
    border-radius: .4rem
    background-color: #586A64
    color: white
    box-shadow: 3px 3px #929d9e
    cursor: pointer

.login
    display: flex
    flex-flow: column wrap
    align-items: center
    justify-content: center
    width: 60%
    margin: 2rem auto
    padding: 1rem

    &__title
        padding: 1rem

    &__form
        display: flex
        flex-direction: column

        > input
            margin: .2rem

.home
    width: 90%
    margin: auto
    display: flex
    flex-direction: column

    &__hello
        padding: .5rem
        text-align: center

        &--span
            font-size: 1rem

    &__profile
        padding: 1rem

        &-title
            padding: .5rem

    &__search
        padding: 1rem

@media only screen and (min-width: 600px)






