@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap')

$base-color: linear-gradient(to right, rgba(255,0,0,0), #d9f573)
$font-color: #bdb9b9
$font-main: 'Roboto', sans-serif

@media only screen and (max-width: 600px)
    
*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    color: $font-color
    font-family: $font-main

#root
    background-image: url('./background2.jpg')
    background-color: transparent
    height: 700px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative

.title
    padding: 1rem
    display: flex
    flex-flow: column
    text-align: center
    padding: .5rem
    cursor: pointer
    margin: auto
    border-radius: 1rem
    font-family: $font-main
    color: $font-color
    width: 85%
    font-size: 2.2rem


    &__small
        font-size: .8rem
        margin-top: 2rem

    &__app
        color: #489899


.access
    display: flex
    justify-content: center
    align-items: center
    width: 75%
    margin: 5rem auto
    flex-wrap: wrap

    
    &__login
        margin-left: .1rem

    &__register
        margin-right: .1rem

.register
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    width: 75%
    margin: auto
    padding: 2rem 0

    &__subtitle
        padding: 1rem
        font-size: .8rem
        color: $font-color

    &__form
        width: 75%
        margin: auto
        padding: 1rem
        overflow: auto
        border-radius: 1rem
        display: flex
        flex-direction: column

        > input
            margin: .2rem
            
    &__btn
        margin: auto

.register-confirm
    display: flex
    justify-content: center
    flex-wrap: wrap
    align-items: center
    width: 85%
    margin: 2rem auto
    color: $font-color

    &__thk
        font-size: .8rem
        padding: 1.5rem 0

.btn
    margin: .5rem
    text-decoration: none
    border-style: none
    padding: .5rem
    color: $font-color
    cursor: pointer
    background-color: transparent
    font-size: 1.1rem

.btn:hover
    color: #489899
    font-size: 1.5rem

.login
    display: flex
    flex-flow: column wrap
    align-items: center
    justify-content: center
    width: 60%
    margin: 2rem auto
    padding: 1rem

    &__title
        padding: 1rem

    &__form
        display: flex
        flex-direction: column

        > input
            margin: .2rem

.home
    width: 90%
    margin: auto
    display: flex
    flex-direction: column


.carousel
    width: 100%
    height: 150px
    overflow: auto

    &__movie
        display: inline-block

.search

    &__label
        font-size: 1.1rem
        margin-bottom: .2rem
        text-transform: uppercase
    
    &__title
        font-size: 1.6rem
        padding: .5rem 2rem
        line-height: 1.1rem
        border-radius: 1.5rem
        border: 1px solid #ddd
        margin-bottom: 1rem

    &__btn
        background-color: rgba(0,0,0,0.75)
        color: $font-color
        padding: .5rem 1rem
        border: 1px solid rgba(0,0,0,0.75)
        border-radius: 20px
        font-size: 1.4rem
        cursor: pointer
        transition: background-color 250ms

    &__btn:hover
        background-color: rgba(0,0,0,0.85)

    

@media only screen and (min-width: 600px)


*
    box-sizing: border-box
    margin: 0
    padding: 0

    
.search
    display: grid
    grid-template-columns: auto 1fr auto
    grid-gap: 1rem
    align-items: center

    &__title
        margin-bottom: 0






