<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <h1>Search</h1>
    
    <form action="../" method="GET">
        <input type="text" name="q" />
        
        <button>Send</button>
    </form>
    
    <h1>Detail</h1>

    {detail}


    
</body>
</html> 