<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">


</head>
<body>
    <h1>prueba</h1>
<!-- 1 -->
<h3>{name_1}</h3> 
<!-- 2 -->
<h3>{name_2}</h3>
<!-- 3 -->
<h3>{name_3}</h3>

<!-- 1 -->
<h3>{name_1}</h3>
<!-- 2 -->
<h3>{name_2}</h3>
<!-- 3 -->
<h3>{name_3}</h3>

<!-- 1 -->
<h3>{name_1}</h3>
<!-- 2 -->
<h3>{name_2}</h3>
<!-- 3 -->
<h3>{name_3}</h3>

<!-- 1 -->
<h3>{name_1}</h3>
<!-- 2 -->
<h3>{name_2}</h3>
<!-- 3 -->
<h3>{name_3}</h3>
</body>
</html>