<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <h1>Register</h1>

    <form action="./register" method="POST">
        <input type="text" name="fullname" placeholder="full name" />
        <input type="email" name="email" placeholder="e-mail" />
        <input type="password" name="password" placeholder="password" />
        <input type="password" name="repassword" placeholder="repeat password" />
        

        <button>Send</button>
    </form>
    or <a href="/login">login</a>
</body>

</html> 