$color-normal: purple
$background-color-normal: plum

$color-danger: skyblue
$background-color-danger: lightblue

$color-success: rgb(140, 233, 0)
$background-color-success: rgb(222, 252, 176)

$color-cancel: white