$color-normal: rgb(0, 145, 255)
$background-color-normal: rgb(176, 230, 252)

$color-danger: tomato
$background-color-danger: rgb(250, 187, 176)

$color-success: rgb(140, 233, 0)
$background-color-success: rgb(222, 252, 176)

$color-cancel: white