body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    background: #ccc;
    max-height: 100%;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 40px;
    font-size: 4rem;
    font-family: monospace;
    text-shadow: 1px 1px 8px white;
    color: #8e8e8e;
}

.tic-tac-toe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    background-color: #eee;
    width: 52%;
    height: 36%;
}

.tic-tac-toe>div {
    padding: 20px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 41px;
    font-weight: bold;
    text-shadow: 1px 1px 3px #6e6e6e;
    min-height: 40px;
}

.playerX {
    color: red;
}

.playerO {
    color: green;
}