.login

    &__img
        display: block
        max-width: 80%
        max-height: 80%
        margin: 0 auto
        opacity: .5
        box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.8)
        border-radius: .5rem
    
    &__form
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        

.login > h2
    text-align: center
    padding: .5rem

   