.login
    width: 90%
    margin: auto .5rem
    display: flex
    flex-direction: column

    &__img
        max-width: 30%
        max-height: 50%
        border-radius: 20%
        opacity: .5
        margin: .5rem