.register
    width: 60%
    height: 60vh
    margin: 1rem auto
    overflow: auto
    display: flex
    flex-direction: column
    background-color:#EBEEE5
    align-items: center
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4)

    &__img
        //width: 105px
        //height: 55px
        border-radius: 50%
        max-width: 50%
        height: auto
        opacity: .6