.register
    width: 40%
    margin: 1.5rem auto
    overflow: auto
    display: flex
    flex-direction: column
    background-color:#EBEEE5
    align-items: center
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4)
    padding: .5rem 0

    &__form
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

    &__img
        //width: 105px
        //height: 55px
        border-radius: 50%
        max-width: 50%
        height: auto
        opacity: .4