.welcome
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    &__unregister
        align-self: flex-start
        margin: .5rem 1rem

    &__update
        align-self: flex-start
        margin: .5rem 1rem

.welcome > h4
    padding: 1rem