div {
    font-size: 15px;
    margin: 100px auto;
    border: 1px solid black;
    width: 208px
    }

body {display: block;}

.pantalla {
    border: 1px solid black;
    width: 206px;
    text-align: right;
    background-color: #0cc2f0;
    }

.igual {
    border: 1px solid black;
    width: 206px;
    text-align: center;
    background-color:#4b6584;
    }

.fila li {
    list-style: none;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
    width: 50px;
    }

.numero {
background-color:#d1d8e0;
}

.restar, .sumar, .multiplicar, .dividir, .punto {
    background-color: #4b6584;
    font-weight: bold;
}

.borrar {
    background-color: red;
}