.saveOffer
        
    width: 95vw
    height: 5vh
    display: bottom
    margin-top: 45vw
    margin-bottom: 45vw  
    border-radius: 15px  
    background-color: #62ccd8
    color: white
    font-size: 100%

.backhub
    width: 8vw
    height: 5vh
    border-radius: 15px  
    background-color: #62ccd8
    color: white
    font-size: 100%

