.search_form
    display: flex

.searcher
    border: 2px solid black
    width: 65vw
    border-radius: 15px
    height: 25px


.search_form
    margin: 20px


.tags
    background-color: #62ccd8
    color: white
    height: 7vh
    width: 17vw
    font-size: 100%
    border: 2px solid brown

.offer
    width: 40vw
    height: 4.5vh
    border-radius: 15px  
    background-color: #62ccd8
    color: white
    font-size: 100%