.searchProduct
    background-color: purple

    .form
        width: 75%
        height: 50vh
        margin: auto
        padding: 1rem
        overflow: auto
        border-radius: 1rem
        display: flex
        flex-direction: column
        border: 5px groove