@use 'components/accept-cookies'
@use 'components/feedback'

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')

body
    font-family: 'Roboto', sans-serif

h1 
    color: orange
    background-color: cornflowerblue
    text-align: center
