* {
  box-sizing: border-box;
  padding: 0;
  margin: 0px;
}
html {
  font-size: 62.5%;
  background-image: url("../images/bg-movie-time.jpg");
  background-size: cover;
}
body {
  box-sizing: border-box;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: $text_font;
  font-weight: 100;
  color: #5b5b5b;
  background-color: rgb(255 255 255 / 98%);
  border-left: 4px solid #061b3a;
  border-right: 4px solid #061b3a;
  display: flex;
  flex-direction: column;
  & > main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 600px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
}
