.u-box {
  padding: 20px 30px;
  background: #dfeff1;
  border: 20px solid #fff;
  & > h1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #2b577b;
  }
}
