// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Sacramento&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

// Font Variables
$title_font: "Itim", cursive;
$subtitle_font: "Noto Sans", sans-serif;
$text_font: "Itim", cursive;
