.search {
  &__form {
    border: 1px solid #3aafdb;
    background: #9cc7db;
    display: flex;
    padding: 20px;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  &__input {
    flex: 1;
    padding: 5px;
    border: 1px solid #3093c0;
    box-shadow: inset 4px 3px 9px 1px #bebebe;
  }
  &__reset {
    flex: 0;
    padding: 4px;
    &:hover {
      cursor: pointer;
    }
  }
  &__submit {
    flex: 0;
    padding: 4px;
    &:hover {
      cursor: pointer;
    }
  }
}
