
.title {
    text-align: center;
    display: inline-block;
    color: #fff;
    text-shadow: 2px 2px #00000014;
    font-size: 2.4rem;
    margin: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}