.access
    text-align: center

    &__register
        background-color: orange
        color: black
        border-radius: 1rem 0 1rem 0
        padding: .4rem

        &:hover
            cursor: pointer

    &__login
        border-style: solid
        border-color: orange
        background-color: transparent
        border-radius: 1rem 0 1rem 0
        padding: .4rem

        &:hover
            background-color: orange
            cursor: pointer 