@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap')
$font-family: 'Nanum Myeongjo', serif
    
.feedback
    padding: 3px
    font-family: $font-family
    font-size: 3vw
    color: #9932CC    
    margin: auto
    background-color: #DDA0DD
    border: 5px solid #D3D3D3
    width: auto
    grid-gap: 25px
    height: auto
    text-align: centre
    box-shadow: 10px 16px 0.9
    