.results
   
    display: grid
    justify-content: center
    align-items: center
    align-items: center
    align-content: center 
    margin: 0 auto
    max-width: 60vw


    &__list        
        border: 2px solid #d158b7
        background-color: white
        height: auto
        width: auto
        list-style: none
        margin: 2px 

