.discover{
   
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vw;
    background-size: contain; 
    border-bottom: 11px solid #fdfeff;
    text-align: center;
    min-height: 37vh;
         &__image{
          width: 100%;
          height: 100%;

            }     
 .logo_inicial{
   border: none;
   outline: none;
   background-color: white;
   cursor: pointer;

 }

  }
 
  @media (max-width: 600px) {
    .discover{
       height: auto;
       min-height: auto;
       &__image{
       height: auto;
       }
    }
  }