footer {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 5px solid #bca9b0;
  background: #6d4453;
  text-align: center;
  display: block;
  line-height: 30px;
  color: #fdfdfd;
  padding: 20px 0;

}