html {
  font-size: 62.5%;
  background-image: url("../imagenes/autismo.png"); 
  background-size: cover;
} 
header{
  background-color: #2d6ba8;;
  border: none;
}
body {
  background-color: none;
}

h1{
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 77px;
  margin-top: 38px;
  color:rgb(107, 107, 110)
}
.initial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    position: relative;
}

.initial_form{
    display: flex;
    justify-content: space-between;
}

.initial_body{
    min-width: 100%;
    background-color: transparent;
}

.flecha {
    margin-top: 268px;
    border: none;
    background-color: #ffffff00;
    color: #1843a9;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



@media (min-width: 600px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
}

    