.my_pictograms{
        display: grid;
        grid-template-columns: 300px 300px 283px;
        justify-content: center;
        grid-gap: 10px;
    }

    @media (max-width: 600px) {
        .my_pictograms{
            display: flex; 
            flex-direction: column;

        }

  
  
    }