.card {
    width: 280px;
    height: 360px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: 4px 4px 5px 0px #cacaca75;
    transition: 0.25s;
    border: 1px solid #d8d8d8;
    cursor: pointer;
    & header {
      height: 260px;
      width: 100%;
      width: 100%;
      background-size: cover;
      color: #fff;
      border: 2px solid white;
    }
    &-header__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 0;
      padding: 0;
    }
    &-body {
      flex: 1;
      padding: 15px;
      background-color: #fff;
      width: 100%;
      &__title {
        margin-bottom: 10px;
        font-weight: bold;
        color: #378fba;
      }
      &__description {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
.section_card{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 10px;
  justify-content: center;
}
  