.accept-cookies
    position: absolute
    top: 0
    background-color: #535252da
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    &__question
        color: yellowgreen

    &__btn
        padding: .3rem
        cursor: pointer
        background-color: transparent
        border: none
        font-family: inherit
        color: white
    
    &__btn:hover
        color: #4ae61b
        
