@mixin center-content($display,$justifyContent,$alignItems)
        display : $display
        justify-content : $justifyContent
        align-items : $alignItems
@mixin create-grid($display,$gridTemplateColumns,$gridTemplateRows,$gap)
        display : $display
        grid-template-columns : $gridTemplateColumns
        grid-template-rows : $gridTemplateRows
        gap : $gap
@mixin size($width,$height)
        width : $width
        height : $height
$background-color-container : #63CDF1
$background-color-container-item : #FAA82A