@mixin center-content-flex($display,$justifyContent,$alignItems)
        display : $display
        justifyContent : $justifyContent
        alignItems : $alignItems
@mixin create-grid($display,$gridTemplateColumns,$gridTemplateRows,$gap)
        display : $display
        gridTemplateColumns : $gridTemplateColumns
        gridTemplateRows : $gridTemplateRows
        gap : $gap
@mixin size($width,$height)
        width : $width
        height : $height
$backgroundColor-container : '#63CDF1'