@import config

.body
    +center-content(flex,center,center)


.container
    +size(70vw,250vh)
    +create-grid(grid,1fr 1fr 1fr,repeat(6,1fr),13px)
    textAlign: center
    backgroundColor: $backgroundColor-container


    &__item
        +center-content(flex,center,center)
        border: 2px solid black
        backgroundColor: $backgroundColor-container-item
        
       
.one
    grid-area: 1/1/3/2
.two
    grid-area: 1/2/1/4
.three
    grid-area: 2/2/2/4
.four
    grid-area: 3/1/4/3
.five
    grid-area: 3/3/5/4
.six
    grid-area: 4/1/5/3
.seven
    grid-area: 5/1/7/2
.eight
    grid-area: 5/2/6/4
.nine
    grid-area: 6/2/7/4