@media screen and (max-width: 700px)

    @mixin item
        background-color: #49E5D0

    body
        display: flex
        align-items: center
        flex-direction: column

    .wrapper-container
        display: flex
        align-items: center
        width: 100vw
        height: 275vh
        flex-direction: column
        background-color: #F6FAED

    .logo
        height: 75px
        width: 75px
        background: #3C50E1
        text-align: center

    .header__category
        width: 30vw
        height: 10vh
        justify-content: center
        padding: 1rem

    h3
        font-family: Verdana, Geneva, Tahoma, sans-serif
        color: black
        text-align: center
        border-top: 2px solid black
        border-bottom: 2px solid black

    .container-category1
        width: 55vw
        height: 200vh
        display: grid
        gap: .5rem
        grid-template-rows: repeat(9,150px)
        text-align: center

    .container-category2
        width: 55vw
        height: 150vh
        display: grid
        gap: .5rem
        grid-template-rows: repeat(6,150px)
        text-align: center

    .container-category3
        width: 55vw
        height: 100vh
        display: grid
        gap: .5rem
        grid-template-rows: repeat(3,150px)
        text-align: center

    .container-description
        position: relative
        top: 4.9rem
        height: 10vh
        width: 27vw
        background-color: #C5F9DF

    .container-description__description
        color: #646665
        justify-content: center
        font-family: Verdana, Geneva, Tahoma, sans-serif
        font-weight: bold

    .item1
        grid-row: 1/2
        @include item

    .item2
        @include item
        grid-row: 2/3

    .item3
        @include item
        grid-row: 3/4

    .item4
        @include item
        grid-row: 4/5

    .item5
        @include item
        grid-row: 5/6
    .item6
        @include item
        grid-row: 6/7

    .item7
        @include item
        grid-row: 7/8

    .item8
        @include item
        grid-row: 8/9

    .item9
        @include item
        grid-row: 9/10

    .button-see-more
        border: none
        background-color: tomato
        color: white
        width: 100px
        height: 45px
        font-weight: lighter
        font-size: 1rem
        margin: auto

// @media screen and (min-width: 600px) and (max-width: 800px)    

@media screen and (min-width: 701px)

    @mixin item
        background-color: #49E5D0


    .header-top
        position: fixed
        height: 5vh
        width: 100vw
        background-color: #F2F5F3
        display: flex
        justify-content: flex-end

    ul
        list-style-type: none
    
    .header-top__tag
        position: relative
        right: 600px
        margin: 0 .2rem
        height: 10rem
        width: 5rem
        cursor: pointer

    .blue-tag:hover, .yellow-tag:hover
        height: 10rem

    
    .red-tag
        background-color: tomato
    
    .blue-tag
        background-color: #2AA184
        height: 5rem
    
    .yellow-tag
        background-color: #FAB449
        height: 5rem

    a 
        cursor: pointer
        font-family: Verdana, Geneva, Tahoma, sans-serif
 
    a:hover
        color: red

    .social-links
        display: flex
        flex-direction: row
        justify-content: space-between
        color: red
        border: 1px solid black

    .wrapper-container
        display: flex
        align-items: center
        width: 100vw
        height: 275vh
        flex-direction: column
        background-color: #F6FAED

    .logo
        height: 75px
        width: 75px
        background: #3C50E1
        text-align: center

    .header__category
        width: 30vw
        height: 10vh
        justify-content: center
        padding: 1rem

    h3
        font-family: Verdana, Geneva, Tahoma, sans-serif
        color: black
        text-align: center
        border-top: 2px solid black
        border-bottom: 2px solid black

    .container-category1
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr
        grid-gap: .5rem
        height: 200vh
        width: 75vw

    .container-category2
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 1fr 1fr 1fr 1fr
        grid-gap: .5rem
        height: 200vh
        width: 75vw

    .container-category3
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 1fr 1fr
        grid-gap: .5rem
        height: 200vh
        width: 75vw

    .item1
        @include item
        grid-area: 1 / 1 / 3 / 1

    .item2
        @include item
        grid-area: 1 / 2 / 1 / 4

    .item3
        @include item
        grid-area: 2 / 2 / 2 / 4

    .item4
        @include item
        grid-area: 3 / 1 / 4 / 3

    .item5
        @include item
        grid-area: 3 / 3 / 5 / 4

    .item6
        @include item
        grid-area: 4 / 1 / 5 / 3

    .item7
        @include item
        grid-area: 5 / 1 / 7 / 2

    .item8
        @include item
        grid-area: 5 / 2 / 6 / 4

    .item9
        @include item
        grid-area: 6 / 2 / 7 / 4

    .button-see-more
        border: none
        background-color: tomato
        color: white
        width: 100px
        height: 45px
        font-weight: lighter
        font-size: 1rem
        margin: auto

    .container-description
        position: relative
        top: 4.9rem
        height: 10vh
        width: 27vw
        background-color: #C5F9DF

    .container-description__description
        color: #646665
        justify-content: center
        font-family: Verdana, Geneva, Tahoma, sans-serif
        font-weight: bold
