.body {
    background: linear-gradient(to right, pink, white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: serif;
    text-align: center;
    font-size: 3vw;
    color: salmon;
}

.estructura {
    border: 2vw solid cadetblue;
    background-color: lightslategray;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 50px;
    width: 20vw;
    height: 30vw;
    border-radius: 2vw;
}

.button {
    font-size: 4vw;
}

.display, .equal {
    grid-column: 1/5;
}

.display {
    min-height: 4.5vw;
    font-size: 4vw;
}