.list-notes

    &__note
        background-color: #678122 
        margin: .5rem
        border-radius: .5rem
        padding-bottom: .2rem
        width: 90%
        list-style-type: none

    &__visibility
        font-size: 1rem