.note
    display: flex
    flex-direction: column
    background-color: yellow
    color: blue
    width: 85%
    margin: auto
    border-radius: .5rem
    box-shadow: .4rem .4rem rgba(0, 0, 0, 0.144)

    &__btn
        cursor: pointer
        border: none
        background-color: transparent
        padding: .2rem
        margin-bottom: .2rem
        font-size: .8rem
        font-weight: bold
    
    &__btn:hover
        color: rgba(7, 70, 143, 0.932)


