@mixin center-content($display,$justifyContent,$alignItems)
        display : $display
        justify-content : $justifyContent
        align-items : $alignItems
@mixin size($width,$height)
        width : $width
        height : $height