html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.hide-mobile {
  display: none;
}
@media (min-width: 600px) {
  .hide-mobile {
    display: block;
  }
}

.button {
  display: block;
  padding: 0.35em 1.2em;
  border-radius: 0.12em;
  text-decoration: none;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  border: none;
  background-color: #ccc;
  margin-bottom: 32px;
}
.button--center {
  margin-left: auto;
  margin-right: auto;
}

body {
  width: 400px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  height: 50px;
}
.header__logo {
  display: none;
}
.header__login {
  margin-right: 20px;
}
.header__login > span {
  display: none;
}
.header__social {
  display: none;
}
.header__nav-desktop {
  display: none;
}
.header__nav-mobile {
  margin-right: auto;
}

.carousel {
  position: relative;
  margin-bottom: 20px;
}
.carousel__image {
  max-width: 100%;
}
.carousel__arrow-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.carousel__arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.carousel__items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title__image {
  display: block;
}
.title__text {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding: 19px;
  color: #ccc;
}
.title__subtitle {
  color: #FFFFFF;
  text-align: center;
  background-color: #ccc;
  width: 100%;
  padding: 6px 0px;
}

.grid-layout--type3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9fr;
  margin-bottom: 20px;
}
.grid-layout--type3 img {
  max-width: 100%;
}
.grid-layout--type2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr;
  margin-bottom: 20px;
}
.grid-layout--type2 img {
  max-width: 100%;
}
.grid-layout--type1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  margin-bottom: 20px;
}
.grid-layout--type1 img {
  max-width: 100%;
}
.grid-layout--type0 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.grid-layout--type0 img {
  max-width: 100%;
}

.footer__info {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer__info > div {
  display: flex;
  flex-basis: calc(50%);
  justify-content: center;
  flex-direction: column;
}
.footer__info > div > img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 100%;
  padding: 2px;
}
.footer__contact > div:first-child {
  text-align: center;
  color: #ccc;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.footer__newsletter {
  text-align: center;
  border-bottom: 2px solid #ccc;
}
.footer__newsletter > p {
  color: #ccc;
}
.footer__newsletter label {
  color: #ccc;
}
.footer__about-us {
  text-align: center;
  margin-bottom: 32px;
}
.footer__about-us ul {
  padding: 0;
  list-style: none;
}
.footer__about-us ul span {
  display: block;
}
.footer__copyright {
  color: #FFFFFF;
  text-align: center;
  background-color: #ccc;
  width: 100%;
  padding: 6px 0px;
}

/*# sourceMappingURL=maria-lunarillos.css.map */
