.feedback
    &--success
        background-color: green
        color: white
    &--warning
        background-color: yellow
        color: black
    &--error
        background-color: red
        color: white