footer {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 5px solid #2c506d;
  background: #2d6ba8;
  text-align: center;
  display: block;
  line-height: 30px;
  color: #fdfdfd;
  padding: 32px 0;

}