
.initial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    position: relative;
}
.logo_central_initial {
    
    height: 450px;
   
}

h1{
    text-align: center;
    margin-bottom: 77px;
    margin-top: 38px;
    font-family: 'Mada';
}
header{
        background-color: #2d6ba8;;
        border: none;
}


.initial_body{
    opacity: 0.93;
    background-color: white;
}

button {
    margin-top: 268px;
    border: none;
    background-color: white;
    color: #1843a9;
}

html {
    font-size: 62.5%;
    background-image: url('../../../src/imagenes/autismo.png'); 
    background-size: cover;
  } 