// @@ -0,0 +1,53 @@
// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap')

*
    // border: 1px solid black  
    font-family: 'Franklin Gothic Medium'
body
    background-image: url(./hello-world1)
button
    border-style: none  

    &:focus
        outline:0

.off 
    display: none

.title
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

.home
    border: 1px solid 
    padding: 1rem
    border-radius: 1rem
    text-align: center

    &__register
        background-color: #4e9cb6
        color: white
        border-radius: 5px
        padding: .4rem

    &__login
        border-style: solid
        border-color: #FFB6C1
        background-color: transparent
        border-radius: 5px
        padding: .4rem

        &:hover
            background-color: #E9F6FD

.register
    background-color: red

.register-confirm
    background-color: #E9F6FD

.login
    background-color: salmon

.welcome
    background-color: plum

