.list-offers2
    width: 100vw
    display: flex
    flex-wrap: wrap
    justify-content: center

    &__offer2_
        border: 1px solid 
        margin: 5px
        width: 100vw
        padding: 0px
        font-size: 200%
.list-offers2__offer2_
        list-style-type: none
h5
    color: black
    font-family: "Amatic SC"