.list-offers
    width: 100vw
    display: flex
    flex-wrap: wrap
    justify-content: center

    &__offer
        border: 1px solid 
        margin: 5px
        width: 25vw
        padding: 0px

.list-offers__offer
    list-style-type: none

.button_detail_offer
    font-size: 75%

a
    width: 50vw
    height: 4vh
    color: white
    font-size: 100%
