@import "~fontsource-amatic-sc/index.css"
.homebuttons
    height: 10vh
    margin: 4vw
    border: 1px solid
    background-color: white
    color: #a9e78e
    font-size: 180%
    border-bottom: 1px solid gray
    font-style: initial
    outline-style: none
    font-family: "Amatic SC"
    font-weight: bold
    &:hover
        font-weight: bold

.slogan
    color: #a9e78e
    font-family: "Amatic SC"
    font-weight: bold
    font-size: 145%
.searcher
    margin-left: 10vw
    margin-right: 10vw
    border: 2px solid black
    border-radius: 15px
    height: 25px
    align-items: center
    justify-content: center
    margin-left: 10vw
    margin-right: 10vw


.search_form
    margin: 20px


.tags
    background-color: #62ccd8
    color: white
    height: 7vh
    width: 17vw
    font-size: 100%
    border: 2px solid brown