.search_form
    display: flex

.searcher
    border: 2px solid black
    width: 65vw
    border-radius: 15px
    height: 25px


.search_form
    margin: 20px


.tags
    background-color: #62ccd8
    color: white
    height: 7vh
    width: 17vw
    font-size: 100%
    border: 2px solid brown


.wrap
    display: flex
    flex-wrap: wrap
    justify-content: center



.offer
    width: 50vw
    height: 6vh 
    background-color: #62ccd8
    color: white
    font-size: 150%
    font-family: "Amatic SC"
    font-weight: bold
    border-radius: 15px  
.retrieve-offer
    width: 50vw
    height: 6vh 
    background-color: #62ccd8
    color: white
    font-size: 150%
    font-family: "Amatic SC"
    font-weight: bold
    border-radius: 15px  
h3
    align-items: center
    color: #a9e78e
    font-family: "Amatic SC"
    font-size: 175%

.log-out-button
    width: 10vw
    height: 6vh 
    background-color: with
    background: none
    border: none
    font-size: 100%
    align-items: end
    flex-direction: row-reverse
    font-size: 175%
    margin-left: 90vw
    margin-top: -20vh
