.search_form
    display: flex

.searcher
    border: 2px solid black
    width: 65vw
    border-radius: 15px
    height: 25px


.search_form
    margin: 20px


.tags
    background-color: #62ccd8
    color: white
    height: 7vh
    width: 17vw
    font-size: 100%
    border: 2px solid brown


.wrap
    display: flex
    flex-wrap: wrap
    justify-content: center



.offer
    width: 50vw
    height: 4vh 
    background-color: #62ccd8
    color: white
    font-size: 100%


.retrieve-offer
    width: 50vw
    height: 4vh 
    background-color: #62ccd8
    color: white
    font-size: 100%

h3
    align-items: center

.log-out-button
    width: 100vw
    height: 4vh 
    background-color: #62ccd8
    color: white
    font-size: 100%