.list-offers
    width: 100vw
    display: flex
    flex-wrap: wrap
    justify-content: center

    &__offer
        border: 5px solid black
        border-color: #62ccd8
        margin: 1px
        border-radius: 15px

.list-offers__offer
    list-style-type: none
img

.button_detail_offer
    font-size: 75%

.offername_width
    width: 25vw
