@import "~fontsource-amatic-sc/index.css"
@media only screen and (max-width: 900px)



    sections
        background-color: white


        
    .entrar
        width: 95vw
        height: 5vh
        display: bottom
        margin-top: 45vw
        margin-bottom: 45vw  
        border-radius: 15px  
        background-color: #62ccd8
        color: white
        font-size: 100%
        font-family: "Amatic SC"
        font-weight: bold
        font-size: 145%
    input
        margin-top: 5vw
        margin-bottom: 5vw  
        display: flex
        flex-direction: column
        justify-content: space-around
        text-align: left
        border: none
        background-color: white
        border-bottom: 1px solid gray
        padding: 10px
        width: 90vw
        outline: none
        font-weight: bold
        font-size: 145%
        font-family: "Amatic SC"
    p
        font-size: 150%
        color: gray
        margin: 5px
        font-family: "Amatic SC"
        font-weight: bold
        

    h1
        display: flex
        flex-direction: column
        justify-content: space-around
        text-align: left
        margin-top: 15vw
        margin-bottom: 15vw  
        color: #a9e78e
        font-weight: bold
        font-size: 300%
        font-family: "Amatic SC"
        