.searchhub
    padding: 0px
    margin: 0px

.searchByName__button
    margin-top: -20px
    width: 25vw
    height: 4vh 
    color: white
    font-size: 100%
    margin-bottom: 10vh
    border-radius: 15px
    backgorund-color: white
    border: none
 
