.list-offers
    width: 100vw
    display: flex
    flex-wrap: wrap
    justify-content: center

    &__offer
        border: 1px solid 
        margin: 5px
        width: 25vw
        padding: 0px
.list-offers__offer
    list-style-type: none

.back-button
    height: 4vh 
    background-color: #62ccd8
    color: white
    font-size: 100%
    margin-bottom: 10vh


.button_detail_offer
    font-size: 75%

.delete-button
    margin-left: 2vw
    color: red