body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #61C9EA;
    width: 70vw;
    height: 200vh;
    display: grid;
    gap: 15px;
    grid-template-columns : 1fr 1fr 1fr;
    grid-template-rows: repeat (6,1fr);
    text-align: center;
       
}

.item1{
    background-color : greenyellow;
    border: 2px solid black;
    grid-area : 1/1/3/1;
}
.item2{
    background-color : greenyellow;
    border: 2px solid black;
    grid-area : 1/2/1/4;
}
.item3{
    background-color : greenyellow;
    border: 2px solid black;
    grid-area: 2/2/2/4;

}.item4{
    background-color : greenyellow;
    border: 2px solid black;
    grid-area: 3/1/4/3;

}.item5{
    background-color : greenyellow;
    border: 2px solid black;
    grid-area: 3/3/5/4;

}.item6{
    background-color : greenyellow;
    border: 2px solid black;
    grid-area: 4/1/5/3;

}.item7{
    background-color : greenyellow;
    border: 2px solid black;
    grid-area: 5/1/7/2;

}.item8{
    background-color : greenyellow;
    border: 2px solid black;
    grid-area: 5/2/6/4;

}.item9{
    background-color : greenyellow;
    border: 2px solid black;
    grid-area: 6/2/7/4;
}

