@mixin item
    background-color:#B99DA4  
    border: 2px solid black

@mixin flex-center
    display: flex
    align-items: center
    justify-content: center
@mixin border-button-header
    border: none
    background-color: #d9e3ed 
    

body
    @include flex-center
    margin: 0px
    padding: 0px
    

header
    margin-top: 0vw    
    text-align: center
    width: 100vw
    height: 10vh 
    display: flex
    align-items: flex-end
    position: fixed
    background-color: #d9e3ed 

.tresbloques
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    width: 180px
    height: 60px    
    margin: 0vw 0vw 0vw 15vw  
    .bloque1
        width: 80px
        height: 140px
        @include flex-center
    .bloque2, .bloque3
        width: 80px
        height: 80px
        @include flex-center
        &:hover
            height: 140px

.bloque1
    background-color: #f55048

.bloque2
    background-color: #5277cb  
    
.bloque3
    background-color:  #e8d14f 

.men
    margin-left: 20vw
    font-size: 2vw
    @include border-button-header
    
.login
    margin-left: 1vw
    color: black

.social-network
    margin-left: 3vw
    button
        font-size: 3vw
        @include border-button-header

.troley-box
    margin-left: 1vw
    button
        font-size: 2vw
        @include border-button-header 
.search
    display: flex
    justify-content: flex-end
    align-items: flex-end 
    margin-top: 10vw
    margin-right: 20vw
    button
        margin-right: 0.5vw
        font-size: 1.5vw
        background-color:#75b879 
    .offers
        background-color: #9786c8   
  
.upcontainer
    margin-top: 2vw
    width: 100vw
    height: 20vh
    display: flex
    justify-content: center
    align-items: flex-end  
    button
        width: 5vw
        height: 5vw
        font-size: 3.5vw
        color: black
        border: none  
        background-color: #d9e3ed 
    .comment
        background-color: #f55048
                      
h1
    margin-right: 30vw  
    font-family: Courier New, Courier, monospace 
    font-size: 3vw
.container
     
    width: 70vw
    height: 200vh
    display: grid
    gap: 5px
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: repeat (6,1fr)
    text-align: center
    margin: 4vw 15vw 0vw 15vw
    padding: 10px

.item1
    
    grid-area: 1/1/3/1
   
    
.item2
    grid-area: 1/2/1/4
   
        
.item3
   
    grid-area: 2/2/2/4

.item4
   
    grid-area: 3/1/4/3

.item5
   
    grid-area: 3/3/5/4

.item6
   
    grid-area: 4/1/5/3

.item7
   
    grid-area: 5/1/7/2

.item8
   
    grid-area: 5/2/6/4

.item9
   
    grid-area: 6/2/7/4

.container2
     
    width: 70vw
    height: 150vh
    display: grid
    gap: 5px
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: repeat (3,1fr)
    text-align: center
    margin: 4vw 15vw 0vw 15vw
    padding: 10px

.item10
    
    grid-area: 1/1/3/1
   
    
.item11
    grid-area: 1/2/1/4
   
        
.item12
   
    grid-area: 2/2/2/4

.item13
   
    grid-area: 3/1/4/3

.item14
   
    grid-area: 3/3/5/4

.item15
   
    grid-area: 4/1/5/3

.container3
     
    width: 70vw
    height: 70vh
    display: grid
    gap: 5px
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: repeat (2,1fr)
    text-align: center
    margin: 4vw 15vw 0vw 15vw
    padding: 10px

.item16
    
    grid-area: 1/1/1/3  
    
.item17
    
    grid-area: 1/3/3/4
        
.item18
    
    grid-area: 2/1/2/3

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12, .item13, .item14, .item15, .item16, .item17, .item18
                
        @include item

@media screen and (max-width: 600px) 
    .ocultar, .social-network, .search
        display: none
            
    @mixin item
        background-color:#B99DA4  
        border: 2px solid black
        height: 17vh
    @mixin flex-column
        display: flex
        flex-direction: column
        text-align: center
        justify-content: center

    body
        @include flex-center
        flex-direction: column
        
    .header
        display: flex
        justify-content: flex-start

    .container
         
        width: 70vw
        height: 180vh
        gap: 15px
        @include flex-column
        margin-top: 15vw
    .container2
         
        width: 70vw
        height: 120vh
        gap: 15px
        @include flex-column
    .container3
         
        width: 70vw
        height: 50vh
        gap: 15px
        @include flex-column    
     
    .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12, .item13, .item14, .item15, .item16, .item17, .item18
                
        @include item
        
    