
.access
    padding: 5vh
    margin: 65vh auto 0vh auto
    width: 45vw
    // margin-top: 100px
    display: flex
    flex-direction: row
    gap: 5px
    justify-content: center
    font-size: 1rem
    align-items: center

    &__register
        padding: 3vw 9.5vw 3vw 9.5vw
        // padding: 2vw 8.5vw 2vw 8.5vw
        border-radius: .5rem
        outline: none
        font-family: 'Open Sans', sans-serif
        font-weight: 500
        white-space: nowrap
        transition: all 200ms ease
        background-color: transparentize(black,.3)
        color: white

        &:hover
            background-color: #fc8823
            color: white

    &__login
        padding: 3vw 9.5vw 3vw 9.5vw
        border-radius: .5rem
        background-color: transparentize(black,.3)
        color: white
        white-space: nowrap
        outline: none
        text-align: center
        vertical-align: middle
        font-family: 'Open Sans', sans-serif
        font-weight: 500

        transition: all 200ms ease

        &:hover
            background-color: #fc8823
            color: white
.accessFooter
    display: flex
    width: 100vw
    padding: 20px
    background-color: #202224
    position: absolute
    // top: 350px
    bottom: -110px
    &__ig
        font-size: 1rem
        color: white
        text-decoration: none
    &__p 
        text-decoration: none
        color: white

.svgicon
    display: inline-block
    position: relative
    width: 1em
    height: 1em
    top: -0.0625em
    fill: currentColor
    vertical-align: middle