.carta
    display: flex
    flex-direction: column
    align-items: center
    &__title
        color: white
        margin: 30px
        font-size: 2rem
    &__container
        width: 80vw
        background-color: #eee
    &__h2
        text-decoration: underline
        text-align: center
        margin: 20px 0 10px 0
        padding: 10px
    &__h3
        text-align: left
        padding: 10px
        margin: 10px 20px 5px 0
        border-bottom: 1px solid black
    &__li
        border: .5px solid black
        
        margin: 5px
        padding: 5px
    &__glutenFree
        display: flex
        margin-top: 5px
        &--img
            background-color:
    
    &__price
        text-align: right
        font-weight: 600
    &__div
        display: flex
        width: 85%
        justify-content: space-between

    &__name
        margin: 10px 5px 10px 0
    &__description
        width: 100%
        margin: 5px
    &__image
        float: right
        width: 142px 
        height: 100px
        margin: 2px
        &--1, &--3, &--5, &--7,
        &--2,&--4,&--6
@media (max-width: 999px) and (min-width: 550px)
    .carta
@media (min-width: 1000px)
    .carta
        &__image
            width: 200px
            height: 140px