$general-background-color: black
$general-title-color: red
$general-title-font-size: 2rem


$navbar-background-color: gray
$navbar-li-font-size: 1rem

*
    margin: 0
    padding: 0
    box-sizing: border-box
body
    background-color: $general-background-color
    display: flex
    justify-items:  center
    width: 100%

