// @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&display=swap')
$general-font-family: 'Alegreya Sans SC', sans-serif
$general-background-color: black
$general-title-color: red
$general-title-font-size: 2rem


$navbar-background-color: gray
$navbar-li-font-size: 1rem

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: $general-font-family
body
    background-color: $general-background-color
    display: flex
    justify-items:  center
    width: 100%

