.footer
    display: flex
    width: 100vw
    padding: 20px
    background-color: #202224
    position: relative
    // top: 660px + 900px
    bottom: -580px
    &__ig
        font-size: 1rem
        color: white
        text-decoration: none
    &__p 
        text-decoration: none
        color: white

.svgicon
    display: inline-block
    position: relative
    width: 1em
    height: 1em
    top: -0.0625em
    fill: currentColor
    vertical-align: middle