.home
    display: flex
    justify-items:  center
    text-align: center
    align-items: center
    flex-direction: column
    width: 100%
    & > button 
        width: 35%
        // height: 4vh
        justify-content: center
        align-self: center
        font-size: 1rem
        padding: 8px

@media (max-width: 999px) and (min-width: 550px)
    .home
        & > button 
            width: 35%
            height: 8vh
@media (min-width: 1000px)
    .home
        & > button 
            width: 20%
            height: 8vh
