@import config

.navBar
    color: white

    &__ul
        background-color: $navbar-background-color
        margin: 0
        height: 4vh
        list-style: none
        display: flex
        align-items: center
        justify-content: flex-end

    &__li
        background-color: $navbar-background-color
        font-size: $navbar-li-font-size
        text-align: center
        outline: none
        padding: 5px
