@import config

    
.showProduct
    display: flex
    flex-direction: column
    background-color: transparentize(white,.1 )
    position: fixed
    top: 40%
    // width: 60vw
    // height: 40vh
    padding: 30px
    justify-content: center
    padding: 15px
    max-width: 70%
    &__exit
        width: 30px
        align-self: flex-end

    &__background
        position: fixed
        overflow-y: scroll
        top: 0
        width: 100vw
        height: 100%
        background-color: transparentize(black,.2 )
        display: flex
        justify-content: center
        align-items: flex-end
    &__div
        display: flex
        justify-content: space-around
    &__glutenFree
        // display: flex
        // justify-content: space-around
        margin-top: 5px
        color: black
        font-size: 1rem
        font-weight: bold
    &__glutenFree--img
        width: 30px
        height:  30px

    &__vegan--img
        width: 30px
        height:  30px
        align-self: center

    &__alergenos
        color: black
        
        margin-left: 10px
    &__name
        margin: 10px 5px 10px 0
        text-align: center
        color: black
        font-weight: bolder
        font-size: 1.5rem
        align-self: flex-start
        margin-top: 0
        margin-bottom: 15px
    &__description
        font-size: 1.2rem
        padding-bottom: 20px
    &__price
        text-align: right
        font-weight: 600
        color: black
        font-weight: bolder
        font-size: 1.5rem
        align-self: center
        