.showProduct
    display: flex
    flex-direction: column
    background-color: transparentize(white,.1 )
    position: fixed
    top: 40%
    // width: 60vw
    // height: 40vh
    padding: 30px
    justify-content: center
    padding: 15px
    &__exit
        width: 30px
        align-self: flex-end

    &__background
        // position: absolute
        // top: 0
        // width: 100vw
        // height: 100vh
        background-color: transparentize(black,.8 )
        display: flex
        justify-content: center
        align-items: flex-end
    &__div
        display: flex
        justify-content: space-around
    &__glutenFree
        // display: flex
        // justify-content: space-around
        margin-top: 5px
        color: black
        font-size: 1rem
        font-weight: bold
    &__vegan--img
        width: 20px
    &__alergenos
        color: black
        
        margin-left: 10px
    &__name
        margin: 10px 5px 10px 0
        text-align: center
        color: black
        font-weight: bolder
        font-size: 1.5rem
        align-self: flex-start
    &__description
    &__price
        text-align: right
        font-weight: 600
        color: black
        font-weight: bolder
        font-size: 1.5rem