@import config

    
.slides
    max-width: 100vw
    max-height: 100vh
    position: relative
    // top: 62px
    margin-top: 8px

    &__container
        

    &__mySlides
        display: none
        // width: 95vw
        // width: 100px
        // height: 100px
        &__img
            // width: 80%
            max-width: 100vw
            max-height: 100vh
            min-width: 375px
            min-height: 580px

            // width: 100px
            // height: 100px
            // vertical-align: middle

    &__prev,&__next
        cursor: pointer
        position: absolute
        top: 45%
        width: auto
        padding: 16px
        margin-top: -50px
        color: white
        font-weight: bold
        font-size: 20px
        border-radius: 0 3px 3px 0
        user-select: none
        -webkit-user-select: none
        &__:hover
            background-color: rgba(0, 0, 0, 0.8)
    &__next
        right: 0
        border-radius: 3px 0 0 3px
    &__prev
        left: 0
        border-radius: 3px 0 0 3px
    &--off
        display: none
    &--block
        display: block


