<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Detail</title>
</head>
<body>
    <h1>Your selection:</h1>

    <!-- here goes the result from the retrieve (vehicles API)-->
    {result}

    <a href="/login">login</a> or <a href="/register">register</a>

    <script>
        const state = {
            cookiesAccepted: {cookiesAccepted}
        }
    </script>
    
</body>
</html>