doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Error
    link(rel='stylesheet' href='style.css')
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
  body
    h1 Error
    p #{message}