doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='style.css')
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    title Register confirm
  body
    h1 Register
    |     User successfully registered, now you can proceed with 
    a(href='/login') login
