.noteEditor
    background-color: white
    margin-top: 5vh
    color: #282c34
    &__title
        margin-top: 1vh
    &__textArea
        width: 30vw
        height: 20vh
        margin: 10px
        border: 1px solid #282c34
        font-size: large
    &__form
        margin-bottom: 10px 
        padding: 2vh
    &__div
        display: flex
        justify-content: space-around
    &__inputTag
        text-align: start
        width: 15vw
        height: 4vh
        outline: none
        
    &__select, &__button
        width: 7vw
        height: 5vh
        border-radius: 6vw
        outline: none
        background-color: #282c34
        color: white
        font-size: large
       
        