.btn {
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 40px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#d8d9db),
    color-stop(80%, #fff),
    to(#fdfdfd)
  );
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: 'Mada';
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}
