// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@500&display=swap');

// Font Variables
$title_font: "Mada", cursive;
$subtitle_font: "Mada", sans-serif;
$text_font: "Mada", cursive;
