.scrollable-carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  gap: 10px;

  &__item {
    cursor: pointer;
    flex: 0 0 auto;
  }
  div {
    height: 240px;
    width: 150px;
  }
  img {
    max-width: 100%;
    object-fit: contain;
    height: 212px;

  }
  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #2b577b;
  }
}

@media (min-width: 600px) {
  .scrollable-carousel {
    &::-webkit-scrollbar {
      display: inherit;
    }
  }
}
