.access 

  padding: 1rem
  border-radius: 1rem
  text-align: center

  .access__register 
  background-color: purple
  color: white
  padding: 0.4rem

  .access__login 
  border-style: solid
  border-color: purple
  background-color: transparent
  padding: 0.4rem