@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Syne+Mono&display=swap')
    
    
*
    padding: 0px
    margin: 0px





body
    background-image: url(./cover.jpg)
    background-size: contain
    background-repeat: no-repeat
    background-color: black
    width: 100%

main
    display: flex
    flex-direction: column
    min-height: 100vh


header
    height: 50vh
    margin-left: 4%
    font-family: 'Syne Mono', monospace
    

    

.subtitle
    display: flex
    align-content: center
    justify-content: center
    font-family: 'Syne Mono', monospace
    color: white
    margin-top: 15%
    

.access

    display: flex
    align-content: center
    justify-content: center
    margin-top: 15%
    font-size: xx-large



.register
    display: flex
    align-content: center
    justify-content: center
    margin-top: 10%

    &__form
        display: grid
        grid-template-columns: repeat(2, 1fr)

        input
            margin: 3%


.register-confirm
    display: flex
    align-content: center
    justify-content: center
    font-size: large
    color: white
    margin-top: 10%
    font-family: 'Quicksand', sans-serif

.login
    display: flex
    align-content: center
    justify-content: center
    margin-top: 10%

    &__form
        display: grid
        grid-template-columns: repeat(2, 1fr)

        input
            margin: 3%

.welcome
    display: flex
    align-content: center
    justify-content: center
    margin-top: -13%
    font-family: 'Syne Mono', monospace
    color: white

.search
    display: flex
    align-content: center
    justify-content: center
    margin-top: 12%

    &__form
        display: grid
        grid-template-columns: repeat(2, 1fr)

        input
            font-size: large    
            margin: 3% 


.button
    padding: 5px 10px
    border-radius: 1em
    font-size: x-large
    background-color: #B08A53
    color: white
    font-family: 'Quicksand', sans-serif
    cursor: pointer


    &:hover
        opacity: 0.5
    &:active
        opactiy: 0.25

    &__login
        background-color:#E9D5A0
    
    &__submitRegister
        font-size: large
        grid-column: 1/3
        text-align: center

    &__submitLogin
        font-size: large
        grid-column: 1/3
        text-align: center
    
    &__search
        font-size: large
        grid-column: 1/3
        text-align: center

.off
    display: none

        
