@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Syne+Mono&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(./cover.jpg);
  background-size: 100vw, 100vh;
  background-repeat: no-repeat;
  background-color: black;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  height: 5vh;
  margin-left: 4%;
  font-family: "Syne Mono", monospace;
}
.title:hover {
  cursor: pointer;
}

.subtitle {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Syne Mono", monospace;
  color: white;
  margin-top: 15%;
}

.access {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 60%;
  font-size: xx-large;
  gap: 2rem;
}

.register {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 55%;
}
.register__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.register__form input {
  margin: 3%;
}

.register-confirm {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: large;
  color: white;
  margin-top: 60%;
  font-family: "Quicksand", sans-serif;
}

.login {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 60%;
}
.login__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.login__form input {
  margin: 3%;
}

.welcome {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 40%;
  font-family: "Syne Mono", monospace;
  color: white;
}
.welcome__image {
  border-radius: 20%;
  opacity: 0.9;
  width: 10vw;
}
.welcome__title {
  margin-top: 5%;
}

.results {
  margin-top: 5%;
}

.detail {
  color: white;
  font-family: "Quicksand", sans-serif;
  margin-left: 5%;
}

audio {
  border: 1px solid #2BB954;
  border-radius: 2em;
  color: #2BB954;
}

.searchTrack {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50vw;
  margin: 6% 0% 5% 25%;
}
.searchTrack input {
  font-size: large;
  grid-column: 1/3;
}
.searchTrack button {
  font-size: large;
}

.results {
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  list-style: none;
  gap: 3rem;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: medium;
}
.results:hover {
  cursor: pointer;
}
.results p {
  margin: 3% 0% 3% 0%;
}

.profile {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  color: white;
}
.profile input {
  height: 3vh;
}

.button {
  padding: 5px 10px;
  border-radius: 1em;
  font-size: x-large;
  background-color: #2BB954;
  color: white;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  outline: none;
}
.button:hover {
  opacity: 0.5;
}
.button:active {
  opactiy: 0.25;
}
.button__login, .button__submitLogin, .button__reset, .button__logout {
  background-color: white;
  color: #2BB954;
  border: 1.5px solid #2BB954;
}
.button__error {
  width: 6vw;
}
.button__logout {
  width: 7vw;
  font-size: 2.2vw;
  margin-left: 1vw;
}
.button__submitRegister, .button__submitLogin, .button__search {
  font-size: large;
  grid-column: 1/3;
  text-align: center;
}
.button__modifyProfile {
  font-size: 3vw;
  height: 6vh;
  background-color: black;
}
.button__favouritedetail {
  width: 19%;
  text-align: center;
}

@media (min-width: 650px) {
  .welcome {
    display: flex;
    align-content: left;
    justify-content: left;
    margin-top: 40%;
    font-family: "Syne Mono", monospace;
    color: white;
    margin-left: 7%;
  }
  .welcome__title {
    margin-top: 5%;
    margin-left: -4%;
  }

  .subtitle {
    display: flex;
    align-content: left;
    justify-content: left;
    margin-top: 10%;
    margin-left: 3%;
  }

  .login {
    display: flex;
    align-content: left;
    justify-content: left;
    margin-left: 9%;
    margin-top: 50%;
  }

  .register-confirm {
    display: flex;
    align-content: left;
    justify-content: left;
    margin-left: 7%;
    margin-top: 50%;
  }

  .register {
    display: flex;
    align-content: left;
    justify-content: left;
    margin-top: 50%;
    margin-left: 7%;
  }

  .access {
    display: flex;
    align-content: left;
    justify-content: left;
    margin-top: 60%;
    margin-left: 9%;
  }

  .detail {
    margin-left: 4%;
  }
}
@media (min-width: 1000px) {
  .welcome {
    margin-top: 15%;
  }

  .subtitle {
    margin-top: 10%;
  }

  .login {
    margin-top: 40%;
  }

  .register-confirm {
    margin-top: 40%;
  }

  .register {
    margin-top: 35%;
  }

  .access {
    margin-top: 40%;
  }
}

/*# sourceMappingURL=index.css.map */
