@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

$Roboto: 'Roboto', sans-serif
    
#feedback
    font-family: $Roboto
    font-size: 25px
    margin: 0px
    padding: 0px
    background-color:#5bb0ff
    border: 2px solid#5bb0ff
    color: white
    padding: 2vh
    width: auto
    height: auto

@media only screen and (max-width: 480px)
    
    #feedback
        font-family: $Roboto
        font-size: 15px
        margin: 0px
        padding: 0px
        background-color:#5bb0ff
        border: 2px solid#5bb0ff
        color: white
        padding: 2vh
        width: auto
        height: auto