@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap')

$Ruso: 'Russo One', sans-serif
    
.result
    display: inline-block
    background-color: white
    text-align: left
    justify-content: center
    align-items: center
    &__li
        display: inline-block
        grid-template-rows: 1fr
        border: 1px solid white
        list-style: none
        
        align-items: center
        align-content: center
        padding: 3vw 3vw 3vw 3vw
        &__title
            font-family: $Ruso
            font-size: 25px 
        &__img
            width: 90vw

