@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap')

$Kanit: 'Kanit', sans-serif
$Righteous: 'Righteous', cursive
    

.search-games
    &__input
        text-align: center
        font-family: $Kanit
        font-size: 20px
        width: 80vw
        max-height: 6vh
        background-color: transparent
        border-radius: 10px
        line-height: 30px
        margin: 10px auto
        