
.register
    background-image: url(https://cdn.pixabay.com/photo/2016/04/06/08/50/gears-1311171_960_720.jpg)
    text-align: center
    border-radius: 20rem 20rem 50rem 50rem
    flex-direction: column

    &__input
        margin: .5rem

        &:focus
            
            outline-color: orange
    
    &__button
        background-color: orange
        border-style: none
        padding: .2rem
        margin: .5rem
   