.title
    font-family: Bebas Neue
    text-align: center

    &:hover
        cursor: pointer

    &__world
        background-color: #4fafd1
        font-size: 4.1rem
        text-align: center
        border-radius: 10px