.article
    width: 95%
    margin: auto
    padding-bottom: 1rem

    &__btns
        display: flex
        justify-content: space-between
    
    &__btn
        border: none
        background-color: transparent
        padding: .3rem
        cursor: pointer
    
    &__added
        font-size: 0.8rem
        margin-left: .4rem

h3, h4
    text-align: center