.article
    width: 75%
    margin: 0 auto
    padding: .2rem
    background-color: #dde2e2
    box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2)
    min-height: 100vh

    &__btns
        display: flex
        justify-content: space-between

    
    &__btn
        border: none
        padding: .2rem
        cursor: pointer
        margin: .2rem 1rem
        background-color: #e8ebeb
        border-radius: .3rem

    &__btn:hover
        background-color: #cdd1d1
    
    &__added
        font-size: 0.8rem
        margin-left: .4rem

    &__added:focus
        outline: none

    &__read-later-btn
        float: left
        margin-top: 1rem

    &__read-later-btn:focus
        outline: none

    &__read-other-btn
        margin-top: 1rem

    &__read-other-btn:focus
        outline: none

.article > h3
    text-align: center
    margin: .7rem

.article > h4
    text-align: center
    margin: .7rem
    color: #4b4e4e
    font-style: italic

.article > p
    text-align: left
    width: 95%
    margin: 1rem auto

.article-pseudo
    display: block
    position: relative
    height: 95vh
    
.article-pseudo::after
    content: ""
    background-image: url("../images/back-img-article.jpg")
    opacity: .3
    top: 0
    left: 0
    bottom: 0
    right: 0
    position: absolute
    z-index: -1