.goal

    &__title
        text-align: center

    &__subtitle
        font-size: 1rem
        text-align: center
        width: 90%
        margin: auto

    &__register
        cursor: pointer
        color: #4f5155
        text-decoration: underline

    &__plans
        cursor: pointer
        color: #4f5155
        text-decoration: underline

    &__p
        width: 90%
        margin: 3rem auto
        font-size: .9rem

    &__macros
        width: 50%
        margin: 2rem auto

    &__calories
        text-decoration: underline
        font-size: 1.2rem


    