.diet-design
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &__title
        text-align: center
        font-size: 1.2rem

    &__input
        border: none
        border-bottom: 1px solid #0bb1ba
        line-height: 1rem

    &__search
        border: none
        background-color: transparent

    