.navbar
    border-bottom: 1px solid #eaeaeb
    text-align: right
    height: 70px
    line-height: 70px

.menu
    margin: 0 30px 0 0

    &__profile
        color: #0bb1ba

.menu .menu__link
    clear: right
    text-decoration: none
    color: gray
    margin: 0 5ox
    line-height: 70px
    background-color: #F8FAFA

.menu__link
    padding: 0 .5rem
    position: relative

.toggle
    margin: 0 40px 0 0
    font-size: 26px
    line-height: 70px
    display: none
    width: 26px
    float: right

.toggle__input
    display: none


@media only screen and (max-width: 510px)

    .toggle
        cursor: pointer
        display: block

        &__input:checked + .menu
            display: block
            z-index: 999

    .menu
        text-align: center
        width: 90%
        margin: auto
        display: none
        background-color: #F8FAFA
        box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2)

    .menu .menu__link
        display: block
        border-bottom: 1px solid #eaeaeb
        margin: 0
        z-index: 1


    .menu__link:hover
        background-color: #eaeaeb

    


    // @media only screen and (max-width: 600px)
    
//     .navbar
//         overflow: hidden
//         background-color: #635f5f

//     .navbar a 
//         float: left
//         font-size: 1rem
//         color: white
//         text-align: center
//         padding: .5rem
//         text-decoration: none

//     .dropdown 
//         float: left
//         overflow: hidden

//     .dropdown .dropdown__btn
//         font-size: 1rem 
//         border: none
//         outline: none
//         color: white
//         padding: .5rem
//         background-color: inherit
//         margin: 0

//     .navbar a:hover, .dropdown:hover .dropdown__btn
//         background-color: #0bb1ba

//     .dropdown__content
//         display: none
//         position: absolute
//         background-color: #f9f9f9
//         min-width: 50px
//         box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2)
//         z-index: 1

//     .dropdown__content a
//         float: none
//         color: black
//         padding: .5rem
//         text-decoration: none
//         display: block
//         text-align: left

//     .dropdown__content a:hover
//         background-color: #ddd

//     .dropdown:hover .dropdown__content
//         display: block

// @media only screen and (min-width: 600px)

//     .navbar
//         overflow: hidden
//         background-color: #635f5f


//     .navbar a 
//         float: left
//         font-size: 1.5rem
//         color: white
//         text-align: center
//         padding: .5rem
//         text-decoration: none

//     .dropdown 
//         float: left
//         overflow: hidden

//     .dropdown .dropdown__btn
//         font-size: 1.5rem 
//         border: none
//         outline: none
//         color: white
//         padding: .5rem
//         background-color: inherit
//         margin: 0

//     .navbar a:hover, .dropdown:hover .dropdown__btn
//         background-color: #0bb1ba

//     .dropdown__content
//         display: none
//         position: absolute
//         background-color: #f9f9f9
//         min-width: 50px
//         box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2)
//         z-index: 1

//     .dropdown__content a
//         float: none
//         color: black
//         padding: .5rem
//         text-decoration: none
//         display: block
//         text-align: left

//     .dropdown__content a:hover
//         background-color: #ddd

//     .dropdown:hover .dropdown__content
//         display: block