.food-result
    display: flex
    flex-direction: column
    width: 230px
    margin: auto
    padding: .5rem
    text-align: left
    background-color: #eef5f5
    box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2)

    &__title
        margin: .5rem 0

    &__item
        font-size: 1rem
        margin: .5rem
        
    &__add
        border: none
        padding: .2rem
        cursor: pointer
        background-color: #d6dbdb
        border-radius: .3rem
        align-self: center
        margin-bottom: .2rem

    &__add:hover
        background-color: #bdc2c2

    &__category
        font-weight: bold

    &__added
        font-weight: bold
        position: absolute
        padding: .5rem
        background-color: #dee0e0
        box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2)
