.food-result
    text-align: center

    &__item
        font-size: .8rem
        
    &__add
        border: none
        background-color: transparent
        margin-bottom: 1rem
    
    &__added
        width: 90%
        margin: auto
        font-size: .8rem

    &__category
        font-weight: bold
