.home
    &__title
        font-size: 3rem
        margin: 1.5rem 0 0 0

    &__social
        position: absolute
        right: 1rem
        top: .1rem

    &__header
        display: flex
        justify-content: space-between
        width: 90%

    &__social-logo
        margin: 0 .2rem

    &__logo
        margin: .5rem
        cursor: pointer