.home
    &__title
        position: absolute
        left: 8.5rem
        top: .1rem
        font-size: 2.5rem

    &__social
        position: absolute
        right: .4rem
        top: .1rem

    &__social-logo
        margin: 0 .2rem

    &__logo
        margin: .6rem
    
    &__user
        position: absolute
        top: 5rem
        left: 8.5rem
        font-size: .8rem

        &--name
            font-weight: bold