.home
    &__title
        font-size: 2.5rem
        margin: 1rem 3rem

    &__social
        position: absolute
        right: .4rem
        top: .1rem

    &__header
        display: flex
        justify-content: space-around

    &__social-logo
        margin: 0 .2rem

    &__logo
        margin: .5rem
    
    &__user
        font-size: .8rem
        margin: 0 .5rem
        float: right
        width: 75%

        &--name
            font-weight: bold