.logout
    text-align: center
    background-color: #e8ebeb
    width: 90%
    margin: 1rem auto
    padding: 2rem 0
    height: 50vh

    &__bye
        padding: 1rem
        font-size: 1rem

    &__img
        margin-top: 3rem

    &__signin
        margin: 1rem 0
        font-size: .8rem
        color: #303236