.recipes
    &__intro
        width: 75%
        margin: auto

    &__intro-description
        line-height: 1.8rem
        font-size: 1.1rem

    &__intro-title
        font-size: 2rem

    &__list
        list-style: none
        margin: 0
        padding: 0

    &__img
        display: block
        margin: 1rem auto
        cursor: pointer

    &__container
        background-color: #E3E5E5
        width: 60%
        margin: .5rem auto
        padding: .1rem 0

    &__item
        padding: .2rem 0