.saved-food
    &__food
        list-style: none
        font-size: .8rem

    &__block
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr

    &__total
        text-align: center
        margin: 0

    &__name
        font-weight: bold

    &__delete
        font-size: .6rem
        margin: .7rem 0

    &__deleted
        text-align: center



    