.saved-food
    &__list
        padding: 0
        width: 80%
        margin: auto

    &__food
        list-style: none
        font-size: .8rem

    &__block
        display: grid
        grid-template-columns: repeat(6, 1fr)
        text-align: center

    &__block-item
        overflow: hidden
        margin: .2rem 0
        font-size: 1rem
    
    &__row-header
        display: flex
        font-size: 1rem
        justify-content: space-evenly
        width: 60%
        margin: auto
        font-weight: bold

    &__total
        text-align: center
        font-weight: bold
        margin-bottom: 1rem

    &__name
        font-weight: bold
        font-size: 1rem

    &__delete
        font-size: 1rem

    &__deleted
        text-align: center
        background-color: #c6caca
        padding: .5rem
        position: absolute
        box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2)
        width: 30%

    &__no-food
        text-align: center


    