.sign-in
    text-align: center
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    height: 100vh

    &__title
        font-size: 3rem

    &__btn
        border: none
        background-color: #b1ebee
        padding: .5rem
        border-radius: 1rem
        margin-top: .5rem
        cursor: pointer

    &__form
        display: flex
        flex-direction: column
        justify-content: center 

    &__input
        border: none
        border-bottom: 1px solid #0bb1ba
        line-height: 1.5rem
        margin: 1rem 0
