.user-profile
    &__name-pic
        display: flex
        justify-content: space-evenly
    
    &__name
        font-size: 1.5rem
        font-weight: bold
        margin: .2rem

    &__logout
        border: none
        background-color: transparent

    &__name-logout
        display: flex

    &__no-articles
        text-align: center

    &__articles
        list-style: none
        font-size: .6rem
        padding: .1rem 0
        // text-align: center

        &--list
            width: 70%
            margin: auto
        
        &--link
            color: #303236
            