.user-info

    &__title
        text-align: center
        margin: 2rem

    &__gender
        width: 60%
        margin: auto

    &__goal
        width: 45%
        margin: auto

    &__numbers
        width: 50%
        margin: 1.5rem auto
        display: grid
        grid-template-columns: .5fr .5fr
        grid-row-gap: 1rem

    &__activity
        width: 80%
        display: flex
        margin: 2rem auto
        justify-content: space-between

    &__p
        width: 90%
        margin: 4.5rem auto
        font-size: 1rem

    &__next
        border: none
        background-color: #b1ebee
        padding: .5rem
        border-radius: 1rem
        cursor: pointer
        margin-top: 1rem

    
    &__back
        margin-left: 1rem
        border: none
        background-color: transparent
        float: left

.user-info > input, label, select
    background-color: transparent
        