.user-diet
    background-color: #f0f3f3
    width: 90%
    margin: auto
    
    &__title
        text-align: center
        margin: .5rem 0

    &__time
        font-size: 1rem
        color: #686a6d
        margin-left: .5rem

    &__description
        width: 90%
        margin: auto
        text-align: center

    &__cal-type
        margin-top: 1rem
        display: flex
        justify-content: space-evenly

    &__macros
        text-align: center

    &__meals
        width: 75%
        margin: .5rem auto
        text-align: center
        background-color: #e2e7e7
        padding: .2rem
        border-radius: 1rem

    &__meal
        font-size: .8rem

    &__random
        width: 95%
        margin: 1rem auto
        text-align: center

    &__line
        border: 1px solid #0bb1ba
        width: 50%
        margin: auto