.user-diet
    &__title
        text-align: center
        margin: .5rem 0

    &__time
        font-size: 1rem
        color: #686a6d
        margin-left: .5rem

    &__description
        width: 90%
        margin: auto

    &__cal-type
        display: flex
        justify-content: space-evenly

    &__macros
        text-align: center

    &__meals
        width: 95%
        margin: auto

    &__random
        width: 95%
        margin: 1rem auto

    &__line
        border: 1px solid #0bb1ba
        width: 50%
        margin: auto