.welcome

    &__title
        text-align: center

    &__container
        width: 70%
        margin: auto

    &__subtitle
        font-size: 1rem

    &__recipes
        background-color: #e8ebeb
        padding: .3rem 1rem
        margin: 1rem 0
        box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2)

    &__diets
        background-color: #e8ebeb
        padding: .3rem 1rem
        margin: 1rem 0
        box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2)

    &__tips
        background-color: #e8ebeb
        padding: .3rem 1rem
        margin: 1rem 0
        box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2)