.bold
    font-weight: bold

.workouts-pseudo
    display: block
    position: relative
    height: 100vh
    
.workouts-pseudo::after
    content: ""
    background-image: url("../images/back-img-workouts.jpg")
    opacity: .3
    top: 0
    left: 0
    bottom: 0
    right: 0
    position: absolute
    z-index: -1
    
.workouts
    &__title
        margin: 0
        text-align: center
        
    &__level
        cursor: pointer
        background-color: #eaf0f0
        width: 70%
        margin: 1rem auto
        padding: .5rem
        box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2)

    &__level-description
        text-align: left
        font-size: .9rem

    &__pre-title
        margin: 0 auto 1rem auto

    &__pre-question
        margin: 0 auto 1rem auto