.user-login {
    @extend %box;
    margin-bottom: 30px;
    margin-top: 70px;
    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    input {
        margin-bottom: 20px;
    }
}