@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap')

*
    // border: 1px solid black  
    font-family: 'Franklin Gothic Medium'
body
    background-image: url(./foto1.jpg)
    background-size: cover    
    background-repeat: no-repeat

h1
    text-align: center
    font-size: 60px
    font-family: 'Architects Daughter', cursive
button
    border-style: none  

    &:focus
        outline:0

.off 
    display: none