<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMO</title>
    <link rel="stylesheet" href="../style/index.css">
</head>
<body>
    <div id="root"></div>

    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <!-- <script src="title.jsx" type="text/babel"></script>
    <script src="title.demo.jsx" type="text/babel"></script> -->

    <!-- <script src="access.jsx" type="text/babel"></script>
    <script src="access.demo.jsx" type="text/babel"></script> -->

    <!-- <script src="login.jsx" type="text/babel"></script>
    <script src="login.demo.jsx" type="text/babel"></script> -->

    <!-- <script src="welcome.jsx" type="text/babel"></script>
    <script src="welcome.demo.jsx" type="text/babel"></script> -->

    <!-- <script src="register-confirm.jsx" type="text/babel"></script>
    <script src="register-confirm.demo.jsx" type="text/babel"></script> -->

    <!-- <script src="register.jsx" type="text/babel"></script>
    <script src="register.demo.jsx" type="text/babel"></script> -->

    <!-- <script src="./search.jsx" type="text/babel"></script>
    <script src="./search.demo.jsx" type="text/babel"></script> -->
<!--         
    <script src="./results.jsx" type="text/babel"></script>
    <script src="./results.demo.jsx" type="text/babel"></script> -->

    <script src="./profile.jsx" type="text/babel"></script>
    <script src="./profile.demo.jsx" type="text/babel"></script>

   
</body>
</html>