.noteEditor
    color: black
    background-color: white
    margin-top: 5vh
    &__title
        margin-top: 5px
    &__textarea
        width: 31vw
        height: 25vh
        margin: 10px
        outline: none
        // word-wrap: break-word
        // word-break: break-all

    &__form
        margin-bottom: 10px
        padding: 2vh
    &__div
        display: flex
        justify-content: space-around
    &__inputTag
        text-align: start
        width: 15vw
        height: 4vh
        outline: none
    &__select
        // width: 5vw
        // height: 3vh
    &__button, &__select
        width: 7vw
        height: 5vh
        border-radius: 10px
        outline: none

        