.signIn
    color: black
    background-color: white
    border-radius: 4vw
    width: 30vw
    &__form
        padding: 2vw
        display: flex
        flex-direction: column
    &__input, &__button
        margin: .5vw
        height: 4vh
        border-radius: 15px
        outline: none
    &__p
        padding-left: 2vw
        padding-right: 2vw
        font-size: x-large
    &__span
        background-color: #282c34
        color: white
        padding: .5vw
    &__button
        background-color: #282c34
        color: white